<%- include('../includes/head.ejs') %> 

<section class="container">
    <%- include('../includes/topbar.ejs') %> 

    <%- include('../includes/sidebar.ejs') %> 

    <div class="content">
        <%- include('../includes/filter.ejs') %> 

        <div class="officeUser-report">
            <table class="officeUser-report__table">
                <thead>
                    <tr>
                        <th>Time Slot</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Duration(Min)</th>
                        <th>Suffered Consumers</th>
                        <th>Interruption Area</th>
                        <th>Reason</th>
                    </tr>
                </thead>

                <% if (reports.length) { %> 
                    <tbody>
                        <% reports.forEach(report => { %> 
                        <tr>
                            <th colspan="7"> <%= report._id.toUTCString().split('00:00:00')[0] %>  </th>
                        </tr>

                            <% report.reportsByDate.forEach(reportsByDate => { %> 
                            <tr>
                                <td> <%= reportsByDate.timeSlot === 'slot1' ? '9 AM to 9 PM' : '9 PM to 9 AM' %>  </td>
                                <td> <%= reportsByDate.startTime %>  </td>
                                <td> <%= reportsByDate.endTime %>  </td>
                                <td> <%= reportsByDate.duration %>  </td>
                                <td> <%= reportsByDate.suffered_consumers %>  </td>
                                <td> <%= reportsByDate.interruption_area %>  </td>
                                <td> <%= reportsByDate.reason %>  </td>
                            </tr>
                            <% }) %> 
                        <% }) %> 
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="7"><a href="/office-user/generate-report?<% if(date) { %>date=<%= date %><% } else if(fromDate && toDate) { %>fromDate=<%= fromDate %>&toDate=<%= toDate %><% } else { %>page=<%= currentPage %> <% } %>" class="table-btn">Generate Report</a></td>
                        </tr>
                    </tfoot>
                <% } else { %> 
                    <tfoot>
                        <tr>
                            <td colspan="7"><p>No reports found</p></td>
                        </tr>
                    </tfoot>
                <% } %> 
            </table>
        </div>

        <% if (reports.length) { %> 
            <%- include('../includes/pagination.ejs') %>
        <% } %> 
    </div>
</section>
<script src="/js/filter.js"></script>

<%- include('../includes/end.ejs') %>